@charset "utf-8";


/* ----------------------------------

Name: styles.css

------------------------------------- */







/*====================================================


	Table of Contents



		01. Generel Styles

			+ Generate Google Fonts
			+ Essentials
			+ Dividers
			+ z-index
			+ Opacity
			+ Cursors

		02. FAQ Accordion Styles

			+ General Accordion Styles

====================================================*/




/*======================

	01. Generel Styles

========================*/


/* Generate Google Fonts
-------------------------*/


@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');

@import url('https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900');



/* 01. Generel Styles */


/* 02. FAQ Accordion Styles */


.accordion-button {
  background-color: #f5f5f5;
  color: #333;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
}

.accordion-button:hover {
  background-color: #ddd;
}

.accordion-content {
  padding: 10px;
  display: none;
  background-color: #fff;
}

.accordion-content p {
  margin: 0;
}

.accordion-content.show {
  display: block;
}
